In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/Boroughs.csv"

# Read Purchasing File and store into Pandas data frame
boroughs = pd.read_csv(file_to_load)

# set the index to ZIP Code to locate later on
boroughs.set_index("ZIP Code",inplace=True, drop =False)

# output
boroughs.head(10)

,City,Borough,Neighborhood,ZIP Code
ZIP Code,,,,
"10453, 10457, 10460",New York,Bronx,Central Bronx,"10453, 10457, 10460"
"10458, 10467, 10468",New York,Bronx,Bronx Park and Fordham,"10458, 10467, 10468"
"10451, 10452, 10456",New York,Bronx,High Bridge and Morrisania,"10451, 10452, 10456"
"10454, 10455, 10459, 10474",New York,Bronx,Hunts Point and Mott Haven,"10454, 10455, 10459, 10474"
"10463, 10471",New York,Bronx,Kingsbridge and Riverdale,"10463, 10471"
"10466, 10469, 10470, 10475",New York,Bronx,Northeast Bronx,"10466, 10469, 10470, 10475"
"10461, 10462, 10464, 10465, 10472, 10473",New York,Bronx,Southeast Bronx,"10461, 10462, 10464, 10465, 10472, 10473"
"11212, 11213, 11216, 11233, 11238",New York,Brooklyn,Central Brooklyn,"11212, 11213, 11216, 11233, 11238"
"11209, 11214, 11228",New York,Brooklyn,Southwest Brooklyn,"11209, 11214, 11228"
"11204, 11218, 11219, 11230",New York,Brooklyn,Borough Park,"11204, 11218, 11219, 11230"

In [3]:
# File to Load (Remember to Change These)
file_to_load = "Resources/NYS_Lottery_Retailers.csv"

# Read Purchasing File and store into Pandas data frame
NYS_locs = pd.read_csv(file_to_load)

In [4]:
# set the lists to blank before appending
zip_list = []
neighborhood_list = []
borough_list = []
city_list = []

# loop through the cells in the data frame to pull out the individual zips
for x in boroughs["ZIP Code"]:
    
    # split out the individual zip codes
    zips = x.split(r", ")
    
    # loop through the individual zips that we just pulled out to expand df on ZIP Codes
    for item in zips:
        # appends to lists per category
        zip_list.append(item)
        neighborhood_list.append(boroughs.loc[x,"Neighborhood"])
        borough_list.append(boroughs.loc[x,"Borough"])
        city_list.append(boroughs.loc[x,"City"])

# create a new dataframe where every ZIP Code has it's own row     
NYC_zips = pd.DataFrame(
                        {"City":city_list,
                         "Borough":borough_list,
                         "Neighborhood":neighborhood_list,
                         "ZIP Code":zip_list
                        })
# output
NYC_zips

         City        Borough              Neighborhood ZIP Code
0    New York          Bronx             Central Bronx    10453
1    New York          Bronx             Central Bronx    10457
2    New York          Bronx             Central Bronx    10460
3    New York          Bronx    Bronx Park and Fordham    10458
4    New York          Bronx    Bronx Park and Fordham    10467
..        ...            ...                       ...      ...
173  New York  Staten Island               South Shore    10312
174  New York  Staten Island  Stapleton and St. George    10301
175  New York  Staten Island  Stapleton and St. George    10304
176  New York  Staten Island  Stapleton and St. George    10305
177  New York  Staten Island                Mid-Island    10314

[178 rows x 4 columns]

In [33]:
Bronx = []
Brook = []
Stat = []
Queens = []
Man = []


count = 0
for item in NYC_zips["ZIP Code"]:
    bur = NYC_zips.iloc[count,1]
    if bur == "Bronx":
        Bronx.append(item)
    if bur == "Brooklyn":
        Brook.append(item)
    if bur == "Queens":
        Queens.append(item)
    if bur == "Manhattan":
        Man.append(item)
    if bur == "Staten Island":
        Stat.append(item)
    count +=1
    

#lotto_by_burough



mydict = [{'Bronx': len(Bronx), 'Brooklyn': len(Brook), 'Queens': len(Queens),'Manhattan': len(Man),'Staten Island': len(Stat),}]

mydict

lotto_by_burough=pd.DataFrame(mydict)

lotto_by_burough

   Bronx  Brooklyn  Queens  Manhattan  Staten Island
0     25        37      61         43             12

In [5]:
NYC_zips.groupby('Neighborhood')['ZIP Code'].agg(['count'])

                               count
Neighborhood
Borough Park                       4
Bronx Park and Fordham             3
Bushwick and Williamsburg          3
Canarsie and Flatlands             3
Central Bronx                      3
Central Brooklyn                   5
Central Harlem                     5
Central Queens                     3
Chelsea and Clinton                6
East Harlem                        2
East New York and New Lots         2
Flatbush                           4
Gramercy Park and Murray Hill      4
Greenpoint                         2
Greenwich Village and Soho         3
High Bridge and Morrisania         3
Hunts Point and Mott Haven         4
Inwood and Washington Heights      5
Jamaica                            7
Kingsbridge and Riverdale          2
Lower East Side                    3
Lower Manhattan                    6
Mid-Island                         1
North Queens                       7
Northeast Bronx                    4
Northeast Queens                   4
Northwest Brooklyn                 5
Northwest Queens                   6
Port Richmond                      3
Rockaways                          6
South Shore                        5
Southeast Bronx                    6
Southeast Queens                   9
Southern Brooklyn                  4
Southwest Brooklyn                 3
Southwest Queens                   8
Stapleton and St. George           3
Sunset Park                        2
Upper East Side                    6
Upper West Side                    3
West Central Queens                4
West Queens                        7

In [6]:
# File to Load (Remember to Change These)
file_to_load = "Resources/NYS_Lottery_Retailers.csv"

# Read Purchasing File and store into Pandas data frame
lotto_df = pd.read_csv(file_to_load)

lotto_df.head()

,Retailer,Name,Street,City,State,Zip,Quick Draw,Latitude,Longitude,Location 1
0,105093,M&M MART,591 BROADWAY,ALBANY,NY,12204,NaN,42.704236,-73.714150,"(42.704236, -73.71415)"
1,106969,139 GOURMET DELI,274 ALEXANDER AVE,BRONX,NY,10454,NaN,40.810561,-73.924557,"(40.810561, -73.924557)"
2,44612,STEWART'S SHOPS #383,10211 STATE HIGHWAY 56,MASSENA,NY,13662,NaN,44.921677,-74.917893,"(44.921677, -74.917893)"
3,76376,7-ELEVEN #35106,6444 OLEAN RD,SOUTH WALES,NY,14139,NaN,42.709300,-78.577400,"(42.7093, -78.5774)"
4,31292,STEWART'S SHOPS #267,204 HENRY JOHNSON BLVD,ALBANY,NY,12210,NaN,42.663289,-73.759051,"(42.663289, -73.759051)"

In [7]:
store_count=[]
#NYC_zips.head()

zip_list=NYC_zips["ZIP Code"]

for item in lotto_df["Zip"]:
    temp= str(item)
    if temp in zip_list:
        store_count.append(temp)


#len(store_count)
store_count
len(zip_list)


#lotto_df.info()

type(zip_list)
zip_df = zip_list.to_frame()

#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1)  # new method
zip_df = zip_df.rename({"ZIP Code":"Zip"}, axis=1)

zip_df

       Zip
0    10453
1    10457
2    10460
3    10458
4    10467
..     ...
173  10312
174  10301
175  10304
176  10305
177  10314

[178 rows x 1 columns]

In [12]:
loc_count = lotto_df.groupby('Zip')['Zip'].agg(['count'])
loc_count

       count
Zip
10001     47
10002     59
10003     38
10004     18
10005      6
...      ...
14898      1
14901     22
14903     11
14904     17
14905      4

[1393 rows x 1 columns]

In [16]:


zip_df['Zip'] = zip_df['Zip'].astype(int)

merge_df = pd.merge(zip_df, loc_count, on="Zip", how="left")

merge_df = merge_df.rename({"count":"Lotto Retailers"}, axis=1)

merge_df

       Zip  Lotto Retailers
0    10453             56.0
1    10457             65.0
2    10460             42.0
3    10458             55.0
4    10467             55.0
..     ...              ...
173  10312             31.0
174  10301             35.0
175  10304             28.0
176  10305             40.0
177  10314             52.0

[178 rows x 2 columns]

In [27]:

NYC_retailers=pd.concat([NYC_zips, merge_df],axis=1)

NYC_retailers.drop(NYC_retailers.columns[4], axis=1)

NYC_retailers

,City,Borough,Neighborhood,Zip,Zip,Lotto Retailers
0,New York,Bronx,Central Bronx,10453,10453,56.0
1,New York,Bronx,Central Bronx,10457,10457,65.0
2,New York,Bronx,Central Bronx,10460,10460,42.0
3,New York,Bronx,Bronx Park and Fordham,10458,10458,55.0
4,New York,Bronx,Bronx Park and Fordham,10467,10467,55.0
...,...,...,...,...,...,...
173,New York,Staten Island,South Shore,10312,10312,31.0
174,New York,Staten Island,Stapleton and St. George,10301,10301,35.0
175,New York,Staten Island,Stapleton and St. George,10304,10304,28.0
176,New York,Staten Island,Stapleton and St. George,10305,10305,40.0
177,New York,Staten Island,Mid-Island,10314,10314,52.0

In [31]:
merge_df['Zip'] = merge_df['Zip'].astype(int)
NYC_zips['Zip'] = NYC_zips['Zip'].astype(int)


Retailers_df = pd.merge(NYC_zips, merge_df, on="Zip")

Retailers_df

         City        Borough              Neighborhood    Zip  Lotto Retailers
0    New York          Bronx             Central Bronx  10453             56.0
1    New York          Bronx             Central Bronx  10457             65.0
2    New York          Bronx             Central Bronx  10460             42.0
3    New York          Bronx    Bronx Park and Fordham  10458             55.0
4    New York          Bronx    Bronx Park and Fordham  10467             55.0
..        ...            ...                       ...    ...              ...
173  New York  Staten Island               South Shore  10312             31.0
174  New York  Staten Island  Stapleton and St. George  10301             35.0
175  New York  Staten Island  Stapleton and St. George  10304             28.0
176  New York  Staten Island  Stapleton and St. George  10305             40.0
177  New York  Staten Island                Mid-Island  10314             52.0

[178 rows x 5 columns]

In [22]:
NYC_retailers.groupby('Neighborhood')['Lotto Retailers'].agg(['sum'])

                                 sum
Neighborhood
Borough Park                   216.0
Bronx Park and Fordham         150.0
Bushwick and Williamsburg      137.0
Canarsie and Flatlands         107.0
Central Bronx                  163.0
Central Brooklyn               236.0
Central Harlem                  90.0
Central Queens                  60.0
Chelsea and Clinton            178.0
East Harlem                     81.0
East New York and New Lots     139.0
Flatbush                       199.0
Gramercy Park and Murray Hill  109.0
Greenpoint                     105.0
Greenwich Village and Soho      93.0
High Bridge and Morrisania     170.0
Hunts Point and Mott Haven     121.0
Inwood and Washington Heights  168.0
Jamaica                        204.0
Kingsbridge and Riverdale       49.0
Lower East Side                125.0
Lower Manhattan                 90.0
Mid-Island                      52.0
North Queens                   163.0
Northeast Bronx                123.0
Northeast Queens                59.0
Northwest Brooklyn             158.0
Northwest Queens               196.0
Port Richmond                   72.0
Rockaways                       64.0
South Shore                    122.0
Southeast Bronx                233.0
Southeast Queens               115.0
Southern Brooklyn              195.0
Southwest Brooklyn             158.0
Southwest Queens               218.0
Stapleton and St. George       103.0
Sunset Park                    136.0
Upper East Side                 83.0
Upper West Side                 57.0
West Central Queens            205.0
West Queens                    388.0

In [43]:
# File to Load (Remember to Change These)
file_to_load = "Resources/zip_pops.csv"

# Read Purchasing File and store into Pandas data frame
pop_df = pd.read_csv(file_to_load)

Ret_Pop_df = pd.merge(Retailers_df, pop_df, on="Zip", how="left")

Ret_Pop_df

,City,Borough,Neighborhood,Zip,Lotto Retailers,Population
0,New York,Bronx,Central Bronx,10453,56.0,79606.0
1,New York,Bronx,Central Bronx,10457,65.0,74554.0
2,New York,Bronx,Central Bronx,10460,42.0,59505.0
3,New York,Bronx,Bronx Park and Fordham,10458,55.0,83960.0
4,New York,Bronx,Bronx Park and Fordham,10467,55.0,103732.0
...,...,...,...,...,...,...
173,New York,Staten Island,South Shore,10312,31.0,61741.0
174,New York,Staten Island,Stapleton and St. George,10301,35.0,38733.0
175,New York,Staten Island,Stapleton and St. George,10304,28.0,41064.0
176,New York,Staten Island,Stapleton and St. George,10305,40.0,42298.0
177,New York,Staten Island,Mid-Island,10314,52.0,90761.0

In [46]:
#Retails per Pop



Ret_Pop_df['Lotto Retailers'] = Ret_Pop_df['Lotto Retailers'].astype(float)
Ret_Pop_df['Population'] = Ret_Pop_df['Population'].astype(float)


Ret_Pop_df['Retailer per 100k'] = Ret_Pop_df.apply(lambda row: (row['Lotto Retailers'] / row['Population'])*100000, axis=1)

Ret_Pop_df.head(50)

,City,Borough,Neighborhood,Zip,Lotto Retailers,Population,Retailer per 100k
0,New York,Bronx,Central Bronx,10453,56.0,79606.0,70.346456
1,New York,Bronx,Central Bronx,10457,65.0,74554.0,87.185128
2,New York,Bronx,Central Bronx,10460,42.0,59505.0,70.582304
3,New York,Bronx,Bronx Park and Fordham,10458,55.0,83960.0,65.507384
4,New York,Bronx,Bronx Park and Fordham,10467,55.0,103732.0,53.021247
5,New York,Bronx,Bronx Park and Fordham,10468,40.0,78647.0,50.860173
6,New York,Bronx,High Bridge and Morrisania,10451,51.0,47798.0,106.699025
7,New York,Bronx,High Bridge and Morrisania,10452,69.0,76078.0,90.696391
8,New York,Bronx,High Bridge and Morrisania,10456,50.0,94218.0,53.068416
9,New York,Bronx,Hunts Point and Mott Haven,10454,33.0,38203.0,86.380651
10,New York,Bronx,Hunts Point and Mott Haven,10455,34.0,42283.0,80.410567
11,New York,Bronx,Hunts Point and Mott Haven,10459,44.0,48351.0,91.001220
12,New York,Bronx,Hunts Point and Mott Haven,10474,10.0,12127.0,82.460625
13,New York,Bronx,Kingsbridge and Riverdale,10463,40.0,71360.0,56.053812
14,New York,Bronx,Kingsbridge and Riverdale,10471,9.0,21896.0,41.103398
15,New York,Bronx,Northeast Bronx,10466,39.0,72479.0,53.808689
16,New York,Bronx,Northeast Bronx,10469,48.0,73870.0,64.979017
17,New York,Bronx,Northeast Bronx,10470,15.0,15432.0,97.200622
18,New York,Bronx,Northeast Bronx,10475,21.0,43208.0,48.602111
19,New York,Bronx,Southeast Bronx,10461,60.0,50348.0,119.170573
20,New York,Bronx,Southeast Bronx,10462,60.0,76756.0,78.169785
21,New York,Bronx,Southeast Bronx,10464,1.0,4434.0,22.553000
22,New York,Bronx,Southeast Bronx,10465,28.0,44205.0,63.341251
23,New York,Bronx,Southeast Bronx,10472,52.0,68796.0,75.585790
24,New York,Bronx,Southeast Bronx,10473,32.0,59609.0,53.683169
25,New York,Brooklyn,Central Brooklyn,11212,76.0,76527.0,99.311354
26,New York,Brooklyn,Central Brooklyn,11213,39.0,66295.0,58.827966
27,New York,Brooklyn,Central Brooklyn,11216,45.0,56308.0,79.917596
28,New York,Brooklyn,Central Brooklyn,11233,44.0,76819.0,57.277496
29,New York,Brooklyn,Central Brooklyn,11238,32.0,54540.0,58.672534
30,New York,Brooklyn,Southwest Brooklyn,11209,58.0,67809.0,85.534369
31,New York,Brooklyn,Southwest Brooklyn,11214,71.0,92946.0,76.388441
32,New York,Brooklyn,Southwest Brooklyn,11228,29.0,44994.0,64.453038
33,New York,Brooklyn,Borough Park,11204,65.0,76978.0,84.439710
34,New York,Brooklyn,Borough Park,11218,47.0,74508.0,63.080475
35,New York,Brooklyn,Borough Park,11219,59.0,90036.0,65.529344
36,New York,Brooklyn,Borough Park,11230,45.0,89075.0,50.519225
37,New York,Brooklyn,Canarsie and Flatlands,11234,47.0,95666.0,49.129262
38,New York,Brooklyn,Canarsie and Flatlands,11236,57.0,100331.0,56.811952
39,New York,Brooklyn,Canarsie and Flatlands,11239,3.0,13244.0,22.651767
40,New York,Brooklyn,Southern Brooklyn,11223,70.0,81789.0,85.586081
41,New York,Brooklyn,Southern Brooklyn,11224,25.0,46707.0,53.525168
42,New York,Brooklyn,Southern Brooklyn,11229,56.0,83615.0,66.973629
43,New York,Brooklyn,Southern Brooklyn,11235,44.0,78128.0,56.317837
44,New York,Brooklyn,Northwest Brooklyn,11201,34.0,62823.0,54.120306
45,New York,Brooklyn,Northwest Brooklyn,11205,31.0,46064.0,67.297673
46,New York,Brooklyn,Northwest Brooklyn,11215,37.0,70156.0,52.739609
47,New York,Brooklyn,Northwest Brooklyn,11217,30.0,41407.0,72.451518
48,New York,Brooklyn,Northwest Brooklyn,11231,26.0,37845.0,68.701282
49,New York,Brooklyn,Flatbush,11203,59.0,75451.0,78.196445

In [47]:
# File to Load (Remember to Change These)
output_data_file = "Resources/RetailersByPop.csv"


# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
Ret_Pop_df.to_csv(output_data_file, encoding="utf-8", index=False)