In [108]:
# Import Dependencies
import pandas as pd

In [109]:
# The path to our CSV file
school_saftey = "Resources/2019_SSEC_NYC.xlsx"

In [110]:
# Read our Kickstarter data into pandas
school_saftey_df = pd.read_excel(school_saftey, encoding = "ISO-8859-1", skiprows=2)
school_saftey_df.head()

,County,District,School Name,BEDS Code,Grade Organization,Need/Resource Category,School Type,Enrollment,Inactive Date,Homicide,...,Assault - Physical Injury: Total Number of Incidents,Assault - Serious Physical Injury,Weapons Possession: Routine Security Check,Weapons Possession: Other,"Discrimination, Harassment, and Bullying: All Excluding Cyberbullying","Discrimination, Harassment, and Bullying: Cyberbullying",Bomb Threat,False Alarm,"Use, Possession, or Sale of Drugs","Use, Possession, or Sale of Alcohol"
0,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PS 35,307500011035,K-12,NEW YORK CITY,PUBLIC SCHOOL (IMF),289,NaT,0,...,5,1,9,2,0,1,0,0,2,0
1,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PS 79 HORAN SCHOOL,307500011079,Senior High,NEW YORK CITY,PUBLIC SCHOOL (IMF),260,NaT,0,...,15,0,0,5,6,1,0,1,1,2
2,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PS 94,307500011094,Elementary,NEW YORK CITY,PUBLIC SCHOOL (IMF),409,NaT,0,...,0,0,0,0,0,0,0,0,0,0
3,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PS 138,307500011138,K-12,NEW YORK CITY,PUBLIC SCHOOL (IMF),601,NaT,0,...,5,0,0,0,0,1,0,0,0,0
4,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PS 169 ROBERT F KENNEDY,307500011169,Junior-Senior High,NEW YORK CITY,PUBLIC SCHOOL (IMF),357,NaT,0,...,9,1,0,5,1,0,0,2,1,0

In [111]:
# Delete the rows not pertinent to our analysis:
reduced_school_saftey_df = school_saftey_df.drop(columns=['School Name', 'BEDS Code', 'Grade Organization', 'Need/Resource Category', 'Enrollment', 'Inactive Date'])
reduced_school_saftey_df

,County,District,School Type,Homicide,Sexual Offenses: Forcible Sex Offenses,Sexual Offenses: Other Sex Offenses,Assault - Physical Injury: Total Number of Incidents,Assault - Serious Physical Injury,Weapons Possession: Routine Security Check,Weapons Possession: Other,"Discrimination, Harassment, and Bullying: All Excluding Cyberbullying","Discrimination, Harassment, and Bullying: Cyberbullying",Bomb Threat,False Alarm,"Use, Possession, or Sale of Drugs","Use, Possession, or Sale of Alcohol"
0,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,0,5,1,9,2,0,1,0,0,2,0
1,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,3,15,0,0,5,6,1,0,1,1,2
2,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,0,0,0,0,0,0,0,0,0,0,0
3,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,1,5,0,0,0,0,1,0,0,0,0
4,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,0,9,1,0,5,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808,RICHMOND,NYC GEOG DIST #31 - SI,PUBLIC SCHOOL (IMF),0,0,1,3,1,0,0,12,6,0,0,1,0
1809,RICHMOND,JOHN W LAVELLE PREP CHARTER,CHARTER SCHOOLS (IMF),0,0,4,1,0,0,1,1,0,0,0,4,1
1810,RICHMOND,NEW WORLD PREP CHARTER SCHOO,CHARTER SCHOOLS (IMF),0,0,3,1,0,0,0,1,0,0,0,2,1
1811,RICHMOND,NEW VENTURES CHARTER SCHOOL,CHARTER SCHOOLS (IMF),0,0,0,0,0,0,0,0,0,0,0,5,0
1812,RICHMOND,LOIS AND RICHARD NICOTRA EAR,CHARTER SCHOOLS (IMF),0,0,0,0,0,0,0,0,0,0,0,0,0

In [112]:
## Sum up all of the school crimes by row and create a new column with the crime total
# Make list of the columns we want to sum:
crimes_list = ['Homicide', 'Sexual Offenses: Forcible Sex Offenses',
       'Sexual Offenses: Other Sex Offenses',
       'Assault - Physical Injury: Total Number of Incidents',
       'Assault - Serious Physical Injury',
       'Weapons Possession: Routine Security Check',
       'Weapons Possession: Other ',
       'Discrimination, Harassment, and Bullying: All Excluding Cyberbullying',
       'Discrimination, Harassment, and Bullying: Cyberbullying',
       'Bomb Threat', 'False Alarm', 'Use, Possession, or Sale of Drugs',
       'Use, Possession, or Sale of Alcohol']
# Sum the crimes for each row and place in a new column titled "Total Crimes"
reduced_school_saftey_df['Total Crimes'] = reduced_school_saftey_df[crimes_list].sum(axis=1)
reduced_school_saftey_df

,County,District,School Type,Homicide,Sexual Offenses: Forcible Sex Offenses,Sexual Offenses: Other Sex Offenses,Assault - Physical Injury: Total Number of Incidents,Assault - Serious Physical Injury,Weapons Possession: Routine Security Check,Weapons Possession: Other,"Discrimination, Harassment, and Bullying: All Excluding Cyberbullying","Discrimination, Harassment, and Bullying: Cyberbullying",Bomb Threat,False Alarm,"Use, Possession, or Sale of Drugs","Use, Possession, or Sale of Alcohol",Total Crimes
0,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,0,5,1,9,2,0,1,0,0,2,0,20
1,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,3,15,0,0,5,6,1,0,1,1,2,34
2,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,1,5,0,0,0,0,1,0,0,0,0,7
4,NEW YORK,NYC SPEC SCHOOLS - DIST 75,PUBLIC SCHOOL (IMF),0,0,0,9,1,0,5,1,0,0,2,1,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808,RICHMOND,NYC GEOG DIST #31 - SI,PUBLIC SCHOOL (IMF),0,0,1,3,1,0,0,12,6,0,0,1,0,24
1809,RICHMOND,JOHN W LAVELLE PREP CHARTER,CHARTER SCHOOLS (IMF),0,0,4,1,0,0,1,1,0,0,0,4,1,12
1810,RICHMOND,NEW WORLD PREP CHARTER SCHOO,CHARTER SCHOOLS (IMF),0,0,3,1,0,0,0,1,0,0,0,2,1,8
1811,RICHMOND,NEW VENTURES CHARTER SCHOOL,CHARTER SCHOOLS (IMF),0,0,0,0,0,0,0,0,0,0,0,5,0,5
1812,RICHMOND,LOIS AND RICHARD NICOTRA EAR,CHARTER SCHOOLS (IMF),0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [113]:
# Export to xlsx file:
reduced_school_saftey_df.to_excel("Cleaned_School_Saftey.xlsx")

In [119]:
# Group the columns by county
grouped_school_saftey_df = reduced_school_saftey_df.groupby(['County'])

# Show the number of schools in each county:
num_schools_by_county = grouped_school_saftey_df.count()
num_schools_by_county.head(5)

,District,School Type,Homicide,Sexual Offenses: Forcible Sex Offenses,Sexual Offenses: Other Sex Offenses,Assault - Physical Injury: Total Number of Incidents,Assault - Serious Physical Injury,Weapons Possession: Routine Security Check,Weapons Possession: Other,"Discrimination, Harassment, and Bullying: All Excluding Cyberbullying","Discrimination, Harassment, and Bullying: Cyberbullying",Bomb Threat,False Alarm,"Use, Possession, or Sale of Drugs","Use, Possession, or Sale of Alcohol",Total Crimes
County,,,,,,,,,,,,,,,,
BRONX,427,427,427,427,427,427,427,427,427,427,427,427,427,427,427,427
KINGS,543,543,543,543,543,543,543,543,543,543,543,543,543,543,543,543
NEW YORK,403,403,403,403,403,403,403,403,403,403,403,403,403,403,403,403
QUEENS,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364
RICHMOND,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76

In [123]:
# Sum the total crimes for each county
county_total_crimes = grouped_school_saftey_df["Total Crimes"].sum()

# Create a new dataframe showing the total crimes by county:
county_crimes_summary_df = pd.DataFrame({"Total Crimes": county_total_crimes})
county_crimes_summary_df.head(5)

          Total Crimes
County
BRONX             5368
KINGS             6181
NEW YORK          4285
QUEENS            4954
RICHMOND          1509

In [124]:
# Find the avgerage number of crimes by county (total crimes/number of schools in the county):
county_avg_crimes_summary_df = reduced_school_saftey_df.groupby('County')['Total Crimes'].agg(['count', 'mean'])
county_avg_crimes_summary_df

          count       mean
County
BRONX       427  12.571429
KINGS       543  11.383057
NEW YORK    403  10.632754
QUEENS      364  13.609890
RICHMOND     76  19.855263

In [125]:
# Bring in the Bouroughs dataframe:
boroughs = "Resources/Boroughs.csv"
boroughs_df = pd.read_csv(bouroughs)
boroughs_df.head()

       City Borough                Neighborhood                    ZIP Code
0  New York   Bronx               Central Bronx         10453, 10457, 10460
1  New York   Bronx      Bronx Park and Fordham         10458, 10467, 10468
2  New York   Bronx  High Bridge and Morrisania         10451, 10452, 10456
3  New York   Bronx  Hunts Point and Mott Haven  10454, 10455, 10459, 10474
4  New York   Bronx   Kingsbridge and Riverdale                10463, 10471

In [39]:
# Show all the bouroughs in the bouroughs dataframe:
boroughs_df.Borough.unique()

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

In [127]:
# Change county names to boroughs
county_avg_crimes_summary_df.rename({'BRONX': 'Bronx',
                                        'KINGS': 'Brooklyn',
                                        'NEW YORK': 'Manhattan',
                                        'QUEENS': 'Queens',
                                        'RICHMOND': 'Staten Island'}, inplace=True)
county_avg_crimes_summary_df.head(5)

               count       mean
County
Bronx            427  12.571429
Brooklyn         543  11.383057
Manhattan        403  10.632754
Queens           364  13.609890
Staten Island     76  19.855263